/* General navbar styling */
.navbar {
  background-color: #000000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100vw;
  background-color: #000000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.logo-img {
  height: 40px;
  margin-right: 8px;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #007bff;
}

/* Menu buttons on larger screens */
.menu-buttons {
  display: flex;
  gap: 15px;
}

.icon-login {
  font-size: 1rem;
}

/* Hamburger menu styling */
.hamburger-menu {
  display: none; /* Hidden by default */
}

/* Drawer menu styling */
.drawer-menu {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
}

/* Responsive styling */
@media (max-width: 786px) {
  .menu-buttons {
    display: none; /* Hide menu buttons on small screens */
  }

  .hamburger-menu {
    display: inline-flex; /* Show hamburger menu on screens <= 786px */
  }
}
